<div class="container">
    <div ng-hide="login">
        <h1>Create a lesson</h1>
        <input type="text" class="form-control" placeholder="Substance" ng-model="substance">
        <br>
        <textarea class="form-control" placeholder="Text (in markdown)" ng-model="text"></textarea>
        <br>
        <button type="button" class="btn btn-success" ng-click="login = true">Create a lesson</button>
    </div>
    <div ng-show="login">
        <h2>Authentication</h2>
        <input class="form-control" placeholder="Name" mg-model="user.name">
        <br>
        <input class="form-control" placeholder="Password" mg-model="user.password">
        <br>
        <button type="button" class="btn btn-success" ng-click="update()">Login</button>
        <button type="button" class="btn btn-default" ng-click="login = false">Back to edition</button>
    </div>
</div>